@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Robotobold.ttf");
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
}
:root {
  --base-color: #171717;
  --font-color: #ffffff;
  --color3: #d6af76;
  --color4: #e4b564;
  --color5: #634f2c;
  --color6: #b4a385;
  --color7: #635a4a;
  --color8: #b08c4d;
  --footer-color: #0e0e0e;
  --color9: #0a0909;
  --color10: #1f1f1f;
  --color11: #242424;
}
* {
  box-sizing: border-box;
  color: var(--font-color);
  overflow-x: hidden;
}
.background-container-full-width {
  background-color: var(--base-color);
}
.container {
  max-width: 2120px;
  padding: 0 100px;
  margin: 0 auto;
  background-color: var(--base-color);
}
/*HEADER*/
.navbar {
  display: flex;
  justify-content: space-between;
}
header {
  margin-bottom: 128px;
  margin-top: 46px;
}
.logo {
  width: 216px;
  height: 33px;
}
.contact-info {
  display: flex;
  gap: 39px;
  align-items: center;
}
.contact-info a {
  font-size: 20px;
}
.contact-info a span {
  color: var(--color3);
}

.btn__type {
  padding: 10px 25px;
  border: 1px solid var(--color4);
  color: var(--color4);
  font-size: 18px;
}
.btn__type a {
  font-size: 18px;
  color: var(--color4);
}
.phone-image {
  margin-right: 10px;
}
/*HEADER*/
/*MAIN__SERVICES*/
.title {
  max-width: 1180px;
}
.title h2 {
  font-weight: bold;
  font-size: 50px;
}
.title p {
  margin: 40px 0 40px;
  font-weight: bold;
  font-size: 20px;
}

.service__items__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 468px;
  gap: 34px;
}
.service__items__grid div {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: grid;
  align-items: center;
}
.service__items__grid-2 {
  margin-top: 27px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
  grid-template-rows: 468px;
  margin-bottom: 160px;
}
.service__items__grid-2 div {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: grid;
  align-items: center;
}
.service__items__grid div:first-child {
  background: var(--color5);
}
.service__items__grid div:nth-child(2) {
  background: var(--color6);
}
.service__items__grid div:nth-child(3) {
  background: var(--color4);
}
.service__items__grid-2 div:first-child {
  background: var(--color7);
}
.service__items__grid-2 div:nth-child(2) {
  background: var(--color8);
}
/*MAIN__SERVICES*/

/*EQUIPMENT*/
.equipment__list h2 {
  font-weight: bold;
  font-size: 50px;
}
.equipment {
  height: 900px;
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  grid-template-rows: 200px;
  margin-bottom: 211px;
}
.equipment div {
  font-size: 20px;
  padding: 44px 113px 0 50px;
}
.equipment div:first-child {
  background: var(--footer-color);
}
.equipment div:nth-child(2) {
  grid-area: 1 / 2 / span 2 / 2;
  background: var(--color11);
}
.equipment div:nth-child(3) {
  grid-area: 1 / 3 / 1 / 3;
  background: var(--color10);
}
.equipment div:nth-child(4) {
  grid-area: 2 / 1 / span 2 / 1;
  background: var(--color10);
}
.equipment div:nth-child(5) {
  grid-area: 3 / 2 / 3 / 2;
  background: var(--color4);
}
.equipment div:nth-child(6) {
  grid-area: 2 / 3 / 2 / 3;
  background: var(--footer-color);
}
.equipment div:last-child {
  background: var(--color9);
}
/*EQUIPMENT*/

/*FOOTER*/
footer {
  padding-top: 172px;
  background: var(--footer-color);
}
footer .container {
  background-color: var(--footer-color);
}
.info-clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  align-items: center;
}
.info-clients h2 {
  font-weight: bold;
  font-size: 50px;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.clients__list div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__list div:nth-child(2) {
  background: rgba(232, 210, 171, 0.76);
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  text-align: center;
  font-size: 22px;
}
.clients__list div:nth-child(2) .logo {
  width: 62px;
  height: 55px;
}
.clients__list div:nth-child(2) .emblem {
  width: 139px;
  height: 55px;
  margin-bottom: 16px;
}
.clients__list div:first-child,
.clients__list div:last-child {
  background: var(--color5);
}
.clients__list div:nth-child(3) {
  background: var(--color4);
}
.clients__list div:nth-child(4) {
  background: var(--color7);
}
.clients__list div:nth-child(5) {
  background: var(--color8);
}
.unknown-piece {
  height: 230px;
  background-color: var(--base-color);
}
/*FOOTER*/
