* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*NAVIGATION*/
header.wrapper {
    padding: 25.5px 0;
    width: 620px;
    margin: 0 auto;
}

.navigation li {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin-left: 72px;
}
.navigation li:first-child{
     margin-left: 0;
 }
.navigation li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FF0000;
}
/*NAVIGATION*/

/*PHOTO*/
.image img {
    width: 100%;
    height: 789px;
object-fit: cover;
}
/*PHOTO*/

/*INFO SECTION*/
.info {
    padding: 49px 68px 82px 68px;
}

.info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-bottom: 38px;
    letter-spacing: 2.4px;
}

.info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #373737;
    text-align: center;
    margin-bottom: 28px;
    letter-spacing: 2.4px;
}

.button {
    margin-top: 42px;
    text-align: center;
}

.button button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 2.4px;
    border: transparent;
}
/*INFO SECTION*/

/*FOOTER*/
footer {
    padding: 0 105px 29px 713px;
    width: 462px;
    height: 39px;
}

footer h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #373737;
    white-space: nowrap;
    letter-spacing: 2.4px;
}
/*FOOTER*/