* {
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}
:root {
  --font-color: #ffff;
  --base-color: #3cb878;
  --hover-color: #01813f;
  --focus-color: #434343;
  --choice-color: #848484;
  --fb-color: #305db8;
  --fb-hover-color: #022263;
  --google-color: #df4a32;
  --google-hover-color: #ab1f09;
  --border-color: #f2f2f2;
}
body {
  color: var(--font-color);
  background-image: url("../assets/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Ubuntu, sans-serif;
  min-height: 100vh;
}
.container {
  max-width: 1366px;
  padding: 18px 79px;
  margin: 0 auto;
}
/*HEADER*/

header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.hidden {
  display: none;
}
.logo a {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--font-color);
  transition: color 500ms linear;
}
.logo a:hover,
.register a span:hover {
  color: var(--base-color);
}
.register {
  position: relative;
  overflow: visible;
}
.register:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  left: -27px;
}
.register a {
  font-size: 14px;
  line-height: 14px;
  color: var(--font-color);
}
.register a span {
  transition: color 500ms linear;
}
svg {
  transition: fill 500ms linear;
  cursor: pointer;
}
svg:hover {
  filter: brightness(0) saturate(100%) invert(28%) sepia(84%) saturate(5639%)
    hue-rotate(149deg) brightness(90%) contrast(99%);
}
.icon {
  width: 23px;
  height: 23px;
  margin-right: 26px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
}
/*HEADER*/

/*SIGN-UP-FORM*/
.wrapper {
  position: relative;
  height: 100vh;
}
.form-block {
  padding: 35px 60px;
  max-width: 444px;
  background: var(--font-color);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
  position: absolute;
  top: calc(50% - 54px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.registering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: visible;
  margin-bottom: 15px;
}
.sign-up {
  font-size: 20px;
  line-height: 20px;
  color: var(--focus-color);
}
.registering:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--base-color);
  left: -60px;
}
.log-in {
  font-size: 14px;
  line-height: 14px;
  color: var(--base-color);
  transition: color 100ms linear;
  cursor: pointer;
}
.log-in:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
.btn-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.btn-type {
  padding: 12px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
  height: 48px;
  border-radius: 5px;
  transition: background-color 500ms linear;
  cursor: pointer;
}
.fb {
  background: var(--fb-color);
}
.fb:hover {
  background: var(--fb-hover-color);
}
.image {
  position: relative;
  overflow: visible;
}
.fb .image:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 28px;
  left: 26px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.google {
  background: var(--google-color);
}
.google:hover {
  background: var(--google-hover-color);
}
a {
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
}

.google .image:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 28px;
  left: 38px;
  bottom: -3px;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.choice {
  margin-top: 30px;
  font-size: 14px;
  line-height: 14px;
  color: var(--choice-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}
.choice:before,
.choice:after {
  content: "";
  display: inline-block;
  width: 152px;
  border: 1px solid var(--border-color);
  margin: 0 5px;
}
/*SIGN-UP-FORM*/

/*FORM-BLOCK*/
#username,
#lname,
#email,
#password,
#passwordConf {
  padding: 15px 19px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
input:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  color: var(--focus-color);
  outline: none;
}
input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.checkbox-container {
  display: block;
  height: 20px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  color: var(--focus-color);
  padding-left: 29px;
}
.checkbox-container span {
  color: var(--base-color);
  font-size: 14px;
  line-height: 14px;
  transition: color 100ms linear;
}
.checkbox-container span:hover {
  color: var(--hover-color);
  transition: color 100ms linear;
  text-decoration: underline;
}
.checkbox-container .check-highload {
  position: absolute;
  /*opacity: 0;*/
  display: none;
}
.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid var(--border-color);
}
.highload2:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container .check-highload:checked ~ .highload2 {
  background-color: var(--font-color);
}
.checkbox-container .check-highload:checked ~ .highload2:after {
  display: block;
}
.checkbox-container .highload2:after {
  left: 3px;
  font-size: 23px;
  content: "L";
  transform: rotate(35deg) scaleX(-1);
  width: 14px;
  height: 13px;
  color: var(--hover-color);
  top: -2px;
}
button {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 100%;
  padding: 16px 99px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
  transition: background-color 500ms linear;
}
button:hover {
  background-color: var(--hover-color);
}
/*FORM-BLOCK*/
