@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
:root {
  --logo-color: #18cfab;
  --dark-logo-color: #1c2a33;
  --grey-font-color: #ffffff99;
  --dark-grey-font-color: #717171;
  --white-font-color: #ffffff;
  --service-bg-color: #f8fcfe;
  --service-font-color: #777777;
  --grey-bg-color: #e9edef;
  --blue-bg-color: #00cbf6;
  --date-color: #203e38;
  --comment-font-color: #bbbbbb;
  --footer-grey-font: #aeaeae;
  --nav-bg-color: rgba(94, 93, 88, 0.6);
  --navigation-grey-font-color: rgba(255, 255, 255, 0.6);
  --services-font-color: #4e4e4e;
  --footer-bg-color: #22353f;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.img-container {
  display: inline-block;
}
body {
  font-family: "Montserrat";
}
/*HEADER*/

header {
  min-height: 1012px;
  background-image: url("../assets/section-1(header).jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  padding: 38px 180px 0 180px;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 35px;
}
.hexagon-logo {
  position: relative;
  cursor: pointer;
}
.logo-letter {
  color: var(--white-font-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  position: absolute;
  top: 19px;
  right: 12px;
}
.logo a {
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  color: var(--white-font-color);
}
.logo a span {
  font-weight: 900;
  color: var(--logo-color);
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.navigation li {
  padding-bottom: 36px;
}
.navigation li a {
  font-weight: 700;
  font-size: 16px;
  color: var(--navigation-grey-font-color);
  text-transform: uppercase;
}
.navigation li:hover {
  filter: brightness(0) saturate(100%) invert(64%) sepia(92%) saturate(396%)
    hue-rotate(114deg) brightness(88%) contrast(93%);
  border-bottom: 2px solid var(--logo-color);
}

.brand-introduction {
  padding: 260px 0 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.text h1 {
  font-weight: 700;
  font-size: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.text h1 span {
  color: var(--logo-color);
}
.text h2 {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.text p {
  font-weight: 400;
  font-size: 32px;
  color: var(--navigation-grey-font-color);
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.btn-type {
  padding: 17px;
  border-top: 2px solid var(--white-font-color);
  display: flex;
  justify-content: center;
  color: var(--white-font-color);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}
.btn-type:first-child {
  background-color: var(--logo-color);
}
.btn-type:nth-child(2) {
  background-color: var(--blue-bg-color);
}
/*HEADER*/
/*PERKS*/
.perks ul {
  display: flex;
}
.perks li {
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.perks li p {
  margin-top: 47px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}
.perks li:first-child,
.perks li:nth-child(3) {
  background-color: var(--dark-logo-color);
  color: var(--logo-color);
}
.perks li:nth-child(2),
.perks li:nth-child(4) {
  background-color: var(--logo-color);
  color: var(--white-font-color);
}
/*PERKS*/

/*SERVICES*/
.services {
  margin-top: 80px;
}
.services h2 {
  font-weight: 400;
  font-size: 36px;
  display: flex;
  justify-content: center;
  color: var(--services-font-color);
  margin-bottom: 26px;
}
/*delimiters styling */
.delimiters {
  position: relative;
}
.delimiters span {
  width: 76px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  border: none;
}
.delimiters span:first-child {
  right: 49%;
}
.delimiters span:nth-child(2) {
  top: 2px;
  right: 50%;
  transform: translate(50%, 50%);
}
/*delimiters styling*/

.service-items {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 23px;
}
.service-items li {
  padding: 17px 34px;
  background: var(--service-bg-color);
  border: 2px solid var(--service-bg-color);
  cursor: pointer;
}
.service-items li.active {
  border: 2px solid var(--logo-color);
  background: var(--logo-color);
  font-weight: 400;
  font-size: 16px;
  color: var(--white-font-color);
  position: relative;
}
.service-items li.active:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--logo-color);
  border-width: 10px;
  transform: translate(50%, 50%) rotate(180deg);
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  right: 50%;
}
.service-items li:hover {
  border: 2px solid var(--logo-color);
}
.service-description div {
  display: none;
}
.service-description div img {
  width: 192px;
  height: 168px;
}
.service-description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--service-font-color);
}
.service-description .active-text {
  display: flex;
  gap: 15px;
  margin-bottom: 90px;
}

/*SERVICES*/

/*PURCHASE*/
.purchase-block {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("../assets/section-2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 126px 0;
}
.purchase-block h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-bottom: 13px;
}
.purchase-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-bottom: 62px;
}
.purchase-block button {
  background-color: var(--logo-color);
  cursor: pointer;
}
/*WORKS*/
.works {
  background-color: var(--grey-bg-color);
  padding: 95px 0;
  text-align: center;
}
.works h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--service-font-color);
  margin-bottom: 20px;
}
.works .work-list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.works .work-list li {
  padding: 14px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #dadada;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: var(--dark-grey-font-color);
  margin-bottom: 70px;
  cursor: pointer;
}
.works .work-list li:first-child {
  min-width: 80px;
}
.works .work-list li:hover {
  border: 2px solid var(--logo-color);
  color: var(--logo-color);
}
.photo-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
.photo-box img {
  width: 285px;
  height: 210px;
  object-fit: cover;
}
.photo-box img.hidden {
  display: none;
}
.photo-box .info-block {
  padding: 45px;
  width: 285px;
  height: 210px;
  border-top: 4px solid var(--logo-color);
}
.info-block h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--logo-color);
}
.info-block p {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
}
.info-block .circles {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.info-block .circles .chain-circle,
.info-block .circles .square-circle {
  width: 41px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.chain-circle:after,
.square-circle:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chain-circle:after {
  content: url("../assets/chain.svg");
  display: block;
}
.square-circle {
  background: var(--logo-color);
}
.square-circle:after {
  content: "";
  width: 12px;
  height: 11px;
  background: var(--white-font-color);
}
.load-more {
  padding: 13px 23px;
  width: 168px;
  background-color: var(--logo-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--white-font-color);
  position: relative;
  border: none;
  border-radius: 5px;
  text-align: end;
  cursor: pointer;
}
.load-more:before {
  content: "\002B";
  display: block;
  position: absolute;
  font-size: 30px;
  left: 23px;
}
/*spinner styling*/
.lds-spinner {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--logo-color);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*spinner styling*/

/*WORKS*/
/*NEWS TILES*/
.news {
  padding: 82px 0 128px 0;
}
.news h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--service-font-color);
  margin-bottom: 25px;
}
.news .news-tiles {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.tile .image-wrapper {
  position: relative;
  margin-bottom: 5px;
}
.tile .image-wrapper img {
  height: 208px;
  width: 263px;
}
.tile .image-wrapper .date {
  padding: 12px;
  background: var(--date-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--white-font-color);
  width: 30%;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.tile .image-info {
  margin-left: 15px;
}

.tile .image-info h3 a {
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: var(--dark-grey-font-color);
}
.tile .image-info .author a,
.tile .image-info .comment a {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: var(--service-font-color);
  cursor: pointer;
}
.tile .image-info .comment {
  padding-left: 10px;
}
.tile .image-info .author {
  border-right: 1px solid var(--service-font-color);
  padding-right: 10px;
}
.tile:hover .date {
  background: var(--logo-color);
}
.tile:hover .image-info h3 {
  color: var(--logo-color);
}
/*NEWS TILES*/
/*REVIEWS*/
.reviews {
  padding: 100px 0 105px;
  background-image: url("../assets/section-3.jpg");
  background-size: cover;
  min-height: 853px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.reviews h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--white-font-color);
  margin-bottom: 25px;
}
blockquote .blockquote-comma {
  margin: 68px 0 36px;
}
blockquote .comment-words {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 37px;
}
.reviewer {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--logo-color);
}
.position {
  font-weight: 300;
  font-size: 12px;
  line-height: 27px;
  color: #bbbbbb;
}
.reviewer-photo {
  margin: 50px 0 57px;
  border-radius: 100%;
  border: 10px solid var(--date-color);
}
.carousel-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.carousel-photos .left-arrow,
.carousel-photos .right-arrow {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  position: relative;
  cursor: pointer;
}

.carousel-photos .left-arrow:after,
.carousel-photos .right-arrow:after {
  content: "";
  border: solid var(--white-font-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  bottom: 50%;
}
.carousel-photos .right-arrow:after {
  transform: translate(50%, 50%) rotate(-45deg);
  right: 15px;
}
.carousel-photos .left-arrow:after {
  transform: translate(50%, 50%) rotate(138deg);
  right: 11px;
}
.carousel-photos .left-arrow:hover,
.carousel-photos .right-arrow:hover {
  background-color: var(--logo-color);
}
.carousel-photos img {
  width: 60px;
  height: 59px;
  border-radius: 100%;
  border: 3px solid var(--date-color);
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.carousel-photos img:hover {
  transform: translateY(-30%);
}

/*REVIEWS*/

/*GALLERY*/
.gallery {
  padding: 108px 0 88px;
  text-align: center;
}
.gallery h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 25px;
}
.gallery .wrapper {
  margin-top: 83px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container .gallery .wrapper img {
  transition: filter 0.2s ease-in;
  cursor: pointer;
}
.container .gallery .wrapper .img-container:hover img {
  filter: brightness(30%);
}
.img-container.hidden {
  display: none;
}
.container .gallery .wrapper .img-container {
  position: relative;
}
.container .gallery .wrapper .img-container:hover:before,
.container .gallery .wrapper .img-container:hover:after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 43%;
  height: 25px;
  width: 27px;
  background-color: #14b9d5;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .gallery .wrapper .img-container:hover:before {
  content: url("../assets/small-fa-search.png");
  font-size: 9px;
  left: 11%;
}
.container .gallery .wrapper .img-container:hover:after {
  content: url("../assets/arrows.png");
  font-size: 9px;
  right: 44%;
  margin-left: 10px;
}
.wrapper .left-content img {
  height: 263px;
  width: 378px;
  margin-bottom: 15px;
}
.wrapper .centre-content img {
  margin-bottom: 15px;
}
.wrapper .right-content .two-photo-block {
  margin-bottom: 15px;
}
.wrapper .right-content .two-photo-block img {
  height: 168px;
  width: 186px;
  object-fit: cover;
}
.wrapper .right-content .small-photo-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  margin-bottom: 15px;
}
.wrapper .right-content .small-photo-collection img {
  height: 92px;
  width: 124px;
}
.right-content img:last-child {
  width: 378px;
}
.gallery .load-more {
  margin-top: 52px;
}
/*GALLERY*/

/*COPYRIGHT*/
.copyright {
  background-color: var(--footer-bg-color);
  text-align: center;
}
.copyright p {
  padding: 48px 0 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: var(--footer-grey-font);
}
.copyright p span {
  color: var(--logo-color);
}
/*COPYRIGHT*/
