* {
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Robotobold.ttf");
  font-weight: bold;
}
:root {
  --font-color: #ffffff;
  --hover-color: #f26522;
}
body {
  color: var(--font-color);
  background-image: url("../assets/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}
.container {
  max-width: 1366px;
  padding: 0 100px;
  margin: 0 auto;
}

/*HEADER*/
.navbar {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 8px;
}
.logo img {
  width: 47px;
  height: 53px;
}
.icon {
  font-size: 0;
  transition: all 0.5s ease;
}
.logo:hover {
  color: var(--hover-color);
  filter: invert(40%) sepia(76%) saturate(688%) hue-rotate(339deg)
    brightness(104%) contrast(101%);
}
.logo span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  display: flex;
  flex-direction: column;
}
.logo-name {
  color: var(--font-color);
  transition: all 0.5s ease;
}
.contact-info a:hover {
  color: var(--hover-color);
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 19px;
}
.contact-info a {
  font-size: 18px;
  line-height: 18px;
  color: var(--font-color);
  transition: all 0.5s ease;
}
/*HEADER*/

/*MAIN*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 37px;
  margin-top: 22px;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-item img {
  width: 300px;
  height: 220px;
  border-style: solid;
  border-width: 8px;
  border-image-source: linear-gradient(to left, #fff, #000);
  border-image-slice: 1;
}
.price {
  font-size: 10px;
  line-height: 10px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.price span {
  font-size: 20px;
  line-height: 20px;
  color: var(--font-color);
}
.details {
  font-size: 14px;
  line-height: 14px;
  margin-top: 19px;
  margin-right: 37px;
  position: relative;
  overflow: visible;
}
.details:after {
  content: "";
  border: solid var(--font-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: absolute;
  right: -16px;
  bottom: 3px;
}
.info {
  background-color: #f26522;
  padding: 7px 0 12px 16px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -90px;
  display: flex;
  transition: bottom 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.photo:hover .info {
  bottom: 3px;
  animation: bottom 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.photo:first-of-type {
  position: relative;
}
.list-item a {
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--font-color);
  transition: all 0.5s ease;
}
.list-item a:hover {
  color: var(--hover-color);
}
/*MAIN*/

/*FOOTER*/
footer small {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  margin: 50px 0 15px;
}
/*FOOTER*/
