body {
  max-width: 1280px;
  margin: 63px auto 98px;
  box-sizing: border-box;
}
/*HEADER*/
.logo {
  padding-bottom: 38px;
  width: 334px;
  height: 79px;
}
.logo a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
}
.logo a span {
  color: #3181A6;
}
.menu {
  height: 72px;
  width: 100%;
  margin: 0 auto;
  background: #35444f;
}
.navigation {
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}
.navigation li {
  cursor: pointer;
  padding: 26px 35px 19px 32px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.navigation li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  transition: 0.5s ease;
}
.navigation li:hover {
  background: #222f3a;
}
/*HEADER*/

/*MAIN BODY*/
.container {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
}
main {
  width: 885px;
}


.image {
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
}
.image img {
  width: 320px;
  height: 381px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
  transition: all 0.8s ease;
}
.image img:hover {
  width: 420px;
  height: 450px;
 }
aside {
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

aside a {
  text-decoration: none;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  align-items: center;
  color: #485863;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #2c2c2c;
  margin-top: 35px;
}
.container .nav__container li {
  padding: 26px 44px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.container .nav__container li a {
  transition: 0.5s ease;
}
.container .nav__container li:hover {
  background: #dbdbdb;
}
.container .nav__container li:hover a {
  margin-left: 30px;
}
/*MAIN BODY*/
/*FOOTER*/
.footer {
  margin: 54px auto;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.footer-navigation {
  display: flex;
  gap: 30px;
}

.footer-navigation li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  align-items: center;
  color: #0c1927;
}
.footer-navigation li {
  transition: 0.5s ease;
}
.footer-navigation li:hover a {
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
}
.copyright {
  color: #010101;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
/*FOOTER*/
